


*,
*::before,
*::after {
    box-sizing: border box;
}

body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
    border-radius: 4px;
    display: block;
}

h1,
h2,
h3,
p{
    margin: 0;
}

section {

    padding: 7em 0;
}

.container{

    width:85%;
    max-width: 65em;
    margin: 0 auto;
}

.split {

    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

    
    /*
    &>*{

        flex-basis: 30%;
        min-width: 15em;

    }
    */
}


.spacing > *+* {

    margin-top: var(--spacer, 2rem)

} 

.btn {

    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition:
        transform 250ms ease-in-out,
        opacity 250ms linear;
    
}

.btn:hover,
.btn:focus {

    transform: scale(1.1);
    opacity: .9;
}

.primary-title {

    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 1.1;
}

.section-title1 {

    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    line-height: 1.5;
    font-size: 2.5rem;
    padding: 2rem 2rem;
    color: black;
    
}

.section-title2 {

    text-align: center;
    font-family: 'Alumni Sans Inline One';
    line-height: 3;
    font-size: 5rem;
    color: black;
}

.section-title3{

    text-align: center;
    justify-content: center;
    font-family: 'Fjalla One' , sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
   /* padding: 3rem 2rem;*/
    color: orange;
}

/* Our Portfolio  title design */

/*
h1{
    font-size: 3em;
    font-weight: normal;
    font-family: 
}
*/

/* title styles */



.key-words{

    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
}

.home-title span{

    color: black;
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    font-size: 1.5em;
    font-family:'Montserrat Alternates', sans-serif;
}

.home-title span::after{

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: blue;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

/* section title1 formatting */

.section-title1 span{

    color: black;
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 2;
    font-size: 1.6em;
   
}

.section-title1 span::after{

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: orange;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.section-title1 span::before{

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.section-title1 span:nth-of-type(1)::before,
.section-title1 span:nth-of-type(1)::after{
    animation-delay: 2.5s;
}

.section-title1 span:nth-of-type(2)::before,
.section-title1 span:nth-of-type(2)::after{
    animation-delay: 3s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

 /*end of section-title1 formatting */





/* Our Portfolio end title design */

.hero {

    color: white;
    text-align: center;
    padding: 15em 0;
    background-image: url(pic2.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 800px;
    background-position: center center;
   
    /*
    @supports (background-blend-mode: multiply) {

          background-image: url(pic2.jpg);
          radial-gradient(#444, #111); 

        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
    */

}

/* Featured Styling */

.featured {

    color: white;
    background-image: url(pic8.png);
    background-repeat: no-repeat;
    background-size: 1600px 3300px;
    background-position: center center;
    text-align: center;
    padding: 15em 0;

    /*backgroud-position:*/
}

.featured__items{

    display: block;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    border-radius: 2rem;
    line-height: 1.2;

}


.featured__items2{


    display: block;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    border-radius: 2rem;
    line-height: 1.2;

}

.featured__text:hover,
.featured__text:focus {

    transform: scale(1.1);
    opacity: .9;

}

.featured__text{

    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    font-weight: 700;
    padding: 35px;
    font-family: 'Fjalla One', sans-serif;
    /*background-image: linear-gradient(  #0066ff 100% ); */
    background: var(--clr-accent, blue);
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .7em 2.25em;
    border-radius: .25em;
    transition:
      transform 250ms ease-in-out,
      opacity 250ms linear;
}

/* Featured Styling */


/* Promotions */

.product {

    background: radial-gradient(var(--clr-inner, #A9A9A9), var(--clr-outer, #fff));
    padding: 7em;
    border-radius: 1em;
    margin-bottom: 5em;
    text-align: center;
}

.product__title {

    font-size: 2.5em;
    /*font-size: clamp(3rem, calc(5vw+1rem), 5.5rem);*/
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    line-height: 1.5 ;
    color: #fff;
    text-shadow: 0 .2em .2em rgba(#000, .2);
}

.product__description{

    line-height: 1;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2em;
    color: black;
    text-shadow: 0 .4em .4em rgba(#000, .3);
}

.img-products{
   
    margin: -5em 0 0 0 ;
}

.our-products{
    
    font-size: 0.6em;
}

@media (min-width: 45em) {


    .product__title{

        margin: 0;
    }

    .img-products1 {

        display: block;
        padding: 2.5em 0.5em;
        border-radius: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
         
    }

    .img-products2 {

        display: block;
        padding: 2.5em 0.5em;
        border-radius: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
         
    }

    .img-products3 {

        display: block;
        padding: 2.5em 0.5em;
        border-radius: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
         
    }

  
}



.offer-1{
    --clr-inner: #2F4F4F;
    --clr-outer: #C0C0C0;
    --clr-accent: blue; 
  
}
.offer-2{
    --clr-inner: #2F4F4F;
    --clr-outer: #DCDCDC;
    --clr-accent: blue;
    
}
.offer-3{
    --clr-inner: #2F4F4F;
    --clr-outer: #D3D3D3;
    --clr-accent: blue; 
    
}

/* Footer Styling */



/* End of Footer Styling */

